<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Play The Piano</h1>
    <p class="lead">Enjoy, still a work in progress but there is more to come!</p>
  </div>
</div>



<div class="text-box">
<input type="text" id="text_box">

</div>
{{!-- <button onclick="usingSound">button</button> --}}

<div class="piano-box row" id="click_box" onclick="clickBox()">
    <button class="key" id="a" >C</button>
    <button class="key" id="s" >D</button>
    <button class="key" id="d">E</button>
    <button class="key" id="f">F</button>
    <button class="key" id="g">G</button>
    <button class="key" id="h">A</button>
    <button class="key" id="j">B</button>
    <button class="key" id="k">C</button>
    {{!-- <button class="key" id="l"></button> --}}
</div>
<div class="buttonMove">
<button type="click" id="playBack">replay</button>
</div>
    <script src="./js/sounds.js"></script>