<input type="text" id="text_box">
<button type="click" id="playBack">replay</button>
{{!-- <button onclick="usingSound">button</button> --}}

<div class="piano-box">
    <div class="key" id="aLiteral"></div>
    <div class="key" id="sLiteral"></div>
    <div class="key" id="dLiteral"></div>
    <div class="key" id="fLiteral"></div>
    <div class="key" id="gLiteral"></div>
    <div class="key" id="hLiteral"></div>
    <div class="key" id="jLiteral"></div>
</div>
    <script src="./js/sounds.js"></script>